/config/*
!/config/formats.js
/logs/*
/node_modules
/eslint-cache
/chat-plugins/private.js
/chat-plugins/*-private.js
/chat-plugins/achievements.js
/chat-plugins/auction.js
/chat-plugins/auctions.js
/chat-plugins/clans.js
/chat-plugins/command-tests.js
/chat-plugins/connectfour.js
/chat-plugins/controlpanel.js
/chat-plugins/economy.js
/chat-plugins/friendlist.js
/chat-plugins/loto.js
/chat-plugins/news.js
/chat-plugins/permaban.js
/chat-plugins/profile.js
/chat-plugins/ss.js
/chat-plugins/staffvie.js
/chat-plugins/testings.js
npm-debug.log
.eslintcache
package-lock.json

# visual studio live share
.vs

# boilerplate #
###############

.DS_Store

# editor temp files
*~
.idea/

tmp/**/*
*.lock
*.DS_Store
*.swp
*.out
*.pyc
*.pyo
.installed.cfg

downloads
build
dist

# egg related
develop-eggs
*.egg-info
*.egg
*.EGG
*.EGG-INFO
src/*.egg-info
eggs
fake-eggs

# django
local_settings.py

# SCM
.hg
.bzr
.svn

pip-log.txt

